import org.junit.runner.JUnitCore;
import org.junit.runner.Result;
import org.junit.runner.notification.Failure;
import java.io.FileOutputStream;
import java.io.ObjectOutputStream;
import java.io.FileNotFoundException;
import java.io.IOException;

public class TestRunner {

    public static void main(String args[]){
        Result result=JUnitCore.runClasses($testClassName#[[.class]]#);
        try{
            escribirDataResultado(result);
        }catch(Exception ex){
            ex.printStackTrace();
        }
    }

    private static void escribirDataResultado(org.junit.runner.Result resultado) throws FileNotFoundException, IOException{
        try (FileOutputStream fos = new FileOutputStream("data.dat"); ObjectOutputStream oos = new ObjectOutputStream(fos)) {
            oos.writeUnshared(resultado);
        }
    }

}