import org.junit.runner.JUnitCore;
import org.junit.runner.Result;
import org.junit.runner.notification.Failure;
import java.io.FileOutputStream;
import java.io.ObjectOutputStream;
import java.io.FileNotFoundException;
import java.io.IOException;

public class TestRunner {

    public static void main(String args[]){
        Result result=JUnitCore.runClasses($testClassName#[[.class]]#);
        for(Failure failure:result.getFailures()){
             System.out.println(failure.toString());
             System.out.println("Message: "+failure.getMessage());
             System.out.println("Test Header: "+failure.getTestHeader());
             System.out.println("Exception is: "+failure.getException());
             System.out.println("---------------------------------");
        }
        try{
            escribirDataResultado(result);
        }catch(Exception ex){
            ex.printStackTrace();
        }
        System.out.println("Result: "+result.wasSuccessful());
        System.out.println("Run Count: "+result.getRunCount());
        System.out.println("Failure Count: "+result.getFailureCount());
        System.out.println("Run Time: "+result.getRunTime()+" miliseconds");
    }

    private static void escribirDataResultado(org.junit.runner.Result resultado) throws FileNotFoundException, IOException{
        try (FileOutputStream fos = new FileOutputStream("data.dat"); ObjectOutputStream oos = new ObjectOutputStream(fos)) {
            oos.writeUnshared(resultado);
        }
    }

}